# Meetup Strategy -- Social information from aritifical friendship

In [1]:
from meetup_process import MeetupStrategy
import feather as ft
import numpy as np
import matplotlib.pyplot as plt
from math import log, e
import time
import pickle
import pandas as pd
%load_ext autoreload
%autoreload 2

In [3]:
df_wp = ft.read_dataframe('data/weeplace_checkins_without_loc_NA.feather') # it is the dataset without NA location
# df_wp = ft.read_dataframe('social-predictability/data/weeplace_checkins_without_loc_NA.feather') # it is the dataset without NA location
# # it will be the same if you use the original csv file.
# df_wp= pd.read_csv('data/weeplace_checkins.csv')  # this is original Weeplace dataset without any processing, including some NA location
# df_wp = df_wp.dropna(subset=["placeid",'userid', 'datetime'])

user_list = sorted(list(set(df_wp['userid'].tolist())))

# import meetup_store
pickle_in = open("results/meetup_store.pickle", "rb")
# pickle_in = open("social-predictability/meetup_store.pickle", "rb")
meetup_store = pickle.load(pickle_in)
pickle_in.close()

# concat as a dataframe
user_meetup=pd.concat(meetup_store)
user_meetup=user_meetup.rename(columns = {'count':'meetup'})

## import users' temporal placeid 
# pickle_in = open("social-predictability/user_placeidT.pickle", "rb")
pickle_in = open("results/user_placeidT.pickle", "rb")
user_placeidT = pickle.load(pickle_in)
pickle_in.close()

In [ ]:
import time
start = time.time()
we_meet = MeetupStrategy(user_list, user_meetup, user_placeidT)
we_meet.ego_alter_info(filesave=True, verbose=True)
# we_meet.ego_info(filesave=True)
print(time.time() - start)

In [188]:
start = time.time()
we_meet.ego_info(filesave=True)
print(time.time() - start)

758.1568303108215

In [210]:
we_meet.ego_stats.head(5)

,userid_x,ego_info,LZ_entropy,Pi,CCE_alters,CCE_ego_alters,Pi_alters,Pi_ego_alters
0,00-a,82,3.965021,0.643260,3.234649,3.125603,0.719506,0.730545
1,0046aki,21,2.578115,0.747027,2.757923,2.637897,0.725743,0.739995
2,01,206,4.857715,0.569149,7.270307,4.650058,0.287184,0.591118
3,0403,121,4.958797,0.485355,4.549136,4.379496,0.538137,0.559406
4,062,23,2.261324,0.797819,6.432533,2.655800,0.262074,0.755825

In [211]:
we_meet.user_stats.head(5)

,userid_x,userid_y,meetup,percent,Included Rank,Weight,alter_info,CE_alter,CCE_alters,CCE_ego_alter,CCE_ego_alters,Pi_alter,Pi_alters,Pi_ego_alter,Pi_ego_alters
0,00-a,26,8,0.048485,1,183.0,8.184875,6.959787,6.959787,4.662468,4.662468,0.280155,0.280155,0.566581,0.566581
1,00-a,manabu-tanaka,8,0.048485,2,130.0,5.857981,5.837483,5.850411,3.911011,4.485083,0.427745,0.426140,0.649037,0.586456
2,00-a,masa-kawamukai,8,0.048485,3,152.0,6.392317,6.006177,5.534295,3.978796,4.360330,0.406651,0.464861,0.641783,0.600279
3,00-a,826,4,0.024242,4,148.0,7.118941,6.407873,4.993938,4.125004,4.238589,0.355005,0.528724,0.626014,0.613648
4,00-a,hironao,4,0.024242,5,136.0,5.554589,5.439902,4.796333,3.759524,4.122365,0.476221,0.551407,0.665122,0.626300

In [192]:
we_meet.ego_stats.head(5)

,userid_x,ego_info,LZ_entropy,Pi,CCE_alters,CCE_ego_alters,Pi_alters,Pi_ego_alters
0,00-a,82,3.965021,0.643260,3.234649,3.125603,0.719506,0.730545
1,0046aki,21,2.578115,0.747027,2.757923,2.637897,0.725743,0.739995
2,01,206,4.857715,0.569149,7.270307,4.650058,0.287184,0.591118
3,0403,121,4.958797,0.485355,4.549136,4.379496,0.538137,0.559406
4,062,23,2.261324,0.797819,6.432533,2.655800,0.262074,0.755825

## Temporal and Social Control

In [ ]:
start = time.time()
# we_meet.ego_alter_info(filesave=True, verbose=True)
we_meet.ego_alter_info(filesave=True, verbose=True, social_shuffle=True)
# we_meet.ego_alter_info(filesave=True, verbose=True, temp_shuffle=True)
print(time.time() - start)

Time: 7733

In [ ]:
start = time.time()
# we_meet.ego_alter_info(filesave=True, verbose=True)
# we_meet.ego_alter_info(filesave=True, verbose=True, social_shuffle=True)
we_meet.ego_alter_info(filesave=True, verbose=True, temp_shuffle=True)
print(time.time() - start)

TIme :  103689.49200940132

In [435]:
start = time.time()
we_meet.ego_info(filesave=True)
print(time.time() - start)

1775.9402523040771

In [436]:
start = time.time()
we_meet.merge_stats(filesave=True)
print(time.time() - start)

32.805713176727295

In [452]:
len(set(we_meet.user_stats['Included Rank'].tolist()))

1069

In [453]:
len(set(we_meet.user_stats_all['Included Rank'].tolist()))

1069