In [217]:
import dask.dataframe as dd
import pandas as pd
import feather as ft

In [220]:
# df_full = dd.read_csv("data/weeplace_checkins.csv")
# # df_full = df_full.dropna(subset=["placeid"])
# df_full = pd.read_csv("data/weeplace_checkins.csv")
# ft.write_dataframe(df_full, 'data/weeplace_checkins.feather')
df_full = ft.read_dataframe('data/weeplace_checkins.feather')

In [221]:
df_full.head(10)

,userid,placeid,datetime,lat,lon,city,category
0,fred-wilson,tocqueville-new-york,2010-10-22 23:00:00,40.736300,-73.992200,New York,Food:American
1,fred-wilson,wesleyan-university-usdan-university-center-mi...,2010-10-23 17:00:00,41.556974,-72.657571,Middletown,College & Education:Student Center
2,fred-wilson,javapalooza-middletown,2010-10-23 20:00:00,41.558853,-72.648618,Middletown,Food:Coffee Shop
3,fred-wilson,giorgione-new-york,2010-10-24 00:00:00,40.726144,-74.008348,New York,Food:Italian
4,fred-wilson,the-shala-new-york,2010-10-24 16:00:00,40.733075,-73.991478,New York,Home / Work / Other:Gym / Fitness:Yoga Studio
5,fred-wilson,citarella-new-york,2010-10-24 19:00:00,40.734400,-73.999000,New York,Shops:Food & Drink:Gourmet
6,fred-wilson,jeffreys-grocery-and-luncheonette-new-york,2010-10-25 12:00:00,40.733994,-74.001374,New York,Food:American
7,fred-wilson,jacks-coffee-new-york,2010-10-25 12:00:00,40.734578,-74.000636,New York,Food:Coffee Shop
8,fred-wilson,chelsea-piers-sports-center-new-york,2010-10-26 10:00:00,40.746900,-74.008200,New York,Parks & Outdoors:Skating Rink
9,fred-wilson,hudson-river-park-new-york,2010-10-26 11:00:00,40.731682,-74.010773,New York,Parks & Outdoors:Other - Parks & Outdoor

In [30]:
# make new dataframe removing minutes and seconds information, called df_hour
# df_full['datetime'] = dd.to_datetime(df_full['datetime']).dt.floor('H')
df_full['datetime'] = pd.to_datetime(df_full['datetime']).dt.floor('H')
df_hour = df_full

In [31]:
df_hour

,userid,placeid,datetime,lat,lon,city,category
0,fred-wilson,tocqueville-new-york,2010-10-22 23:00:00,40.736300,-73.992200,New York,Food:American
1,fred-wilson,wesleyan-university-usdan-university-center-mi...,2010-10-23 17:00:00,41.556974,-72.657571,Middletown,College & Education:Student Center
2,fred-wilson,javapalooza-middletown,2010-10-23 20:00:00,41.558853,-72.648618,Middletown,Food:Coffee Shop
3,fred-wilson,giorgione-new-york,2010-10-24 00:00:00,40.726144,-74.008348,New York,Food:Italian
4,fred-wilson,the-shala-new-york,2010-10-24 16:00:00,40.733075,-73.991478,New York,Home / Work / Other:Gym / Fitness:Yoga Studio
5,fred-wilson,citarella-new-york,2010-10-24 19:00:00,40.734400,-73.999000,New York,Shops:Food & Drink:Gourmet
6,fred-wilson,jeffreys-grocery-and-luncheonette-new-york,2010-10-25 12:00:00,40.733994,-74.001374,New York,Food:American
7,fred-wilson,jacks-coffee-new-york,2010-10-25 12:00:00,40.734578,-74.000636,New York,Food:Coffee Shop
8,fred-wilson,chelsea-piers-sports-center-new-york,2010-10-26 10:00:00,40.746900,-74.008200,New York,Parks & Outdoors:Skating Rink
9,fred-wilson,hudson-river-park-new-york,2010-10-26 11:00:00,40.731682,-74.010773,New York,Parks & Outdoors:Other - Parks & Outdoor
10,fred-wilson,jeffreys-grocery-and-luncheonette-new-york,2010-10-26 12:00:00,40.733994,-74.001374,New York,Food:American
11,fred-wilson,pastis-new-york,2010-10-22 12:00:00,40.739535,-74.006138,New York,Food:French
12,fred-wilson,the-invisible-dog-gallery-brooklyn,2010-10-22 18:00:00,40.687159,-73.991244,Brooklyn,Arts & Entertainment:Art Gallery
13,fred-wilson,chelsea-piers-sports-center-new-york,2010-08-10 10:00:00,40.746900,-74.008200,New York,Parks & Outdoors:Skating Rink
14,fred-wilson,maialino-new-york,2010-08-10 13:00:00,40.738546,-73.985772,New York,Food:Italian
15,fred-wilson,joseph-leonard-new-york,2010-08-10 21:00:00,40.733665,-74.001546,New York,Food:American
16,fred-wilson,hudson-river-park-new-york,2010-08-11 10:00:00,40.731682,-74.010773,New York,Parks & Outdoors:Other - Parks & Outdoor
17,fred-wilson,punch-new-york,2010-08-11 17:00:00,40.739700,-73.990000,New York,Food:American
18,fred-wilson,barbuto-new-york,2010-08-11 22:00:00,40.737800,-74.008200,New York,Food:Italian
19,fred-wilson,the-coffee-shop-new-york,2010-08-12 12:00:00,40.736518,-73.991199,New York,Food:Coffee Shop
20,fred-wilson,buzzfeed-new-york,2010-08-12 23:00:00,40.723769,-73.999816,New York,Home / Work / Other:Corporate / Office:Tech St...
21,fred-wilson,kamadeva-yoga,2010-08-13 13:00:00,40.964479,-72.187612,NaN,Home / Work / Other:Gym / Fitness:Yoga Studio
22,fred-wilson,marys-marvelous-amagansett,2010-08-13 13:00:00,40.975300,-72.141300,Amagansett,Food:Bakery
23,fred-wilson,jacks-coffee-amagansett,2010-08-13 13:00:00,40.974401,-72.141917,Amagansett,Food:Café
24,fred-wilson,east-hampton-golf-club-east-hampton,2010-08-13 19:00:00,40.986500,-72.161800,East Hampton,NaN
25,fred-wilson,la-fondita-amagansett,2010-08-13 22:00:00,40.976977,-72.126054,Amagansett,Food:Tacos
26,fred-wilson,jacks-coffee-amagansett,2010-08-14 11:00:00,40.974401,-72.141917,Amagansett,Food:Café
27,fred-wilson,vickis-amagansett,2010-08-14 14:00:00,40.977365,-72.123886,Amagansett,NaN
28,fred-wilson,cirillos-supermarket-amagansett,2010-08-14 15:00:00,40.977089,-72.128038,Amagansett,Food:Other - Food
29,fred-wilson,hampton-market-place-east-hampton,2010-08-14 15:00:00,40.963737,-72.195271,East Hampton,Food:Deli / Bodega
...,...,...,...,...,...,...,...
7658338,mark-van-der-poel,supersteil-rotterdam,2010-10-19 08:00:00,51.903001,4.458642,Rotterdam,Home / Work / Other:Corporate / Office
7658339,mark-van-der-poel,toilet-rotterdam,2010-10-19 09:00:00,51.902388,4.458901,Rotterdam,Home / Work / Other:Event Space
7658340,mark-van-der-poel,albert-heijn-schiecentrale-rotterdam,2010-10-19 12:00:00,51.904089,4.458733,Rotterdam,Food:Other - Food
7658341,mark-van-der-poel,albert-heijn-schiecentrale-rotterdam,2010-10-19 16:00:00,51.904089,4.458733,Rotterdam,Food:Other - Food
7658342,mark-van-der-poel,schiecentrale-rotterdam-rotterdam,2010-10-19 16:00:00,51.904231,4.459789,Rotterdam,Home / Work / Other:Corporate / Office
7658343,mark-van-der-poel,heemraadssingel,2010-10-19 17:00:00,51.919123,4.455773,NaN,NaN
7658344,mark-van-der-poel,beukelsdijk-rotterdam,2010-10-19 17:00:00,51.921256,4.455721,Rotterdam,Home / Work / Other:Home
7658345,mark-van-der-poel,beukelsplein-rotterdam,2010-10-20 06:00:00,51.921256,4.455721,Rotterdam,Parks & Outdoors:Playground
7658346,mark-van-der-poel,heemraadsplein,2010-10-20 07:00:00,51.912775,4.453603,NaN,Parks & Outdoors:Plaza / Square
7658347,mark-van-der-poel,metrostation-coolhaven-rotterdam,2010-10-20 07:00:00,51.909305,4.458389,Rotterdam,Travel:Subway
7658348,mark-van-der-poel,supersteil-rotterdam,2010-10-20 07:00:00,51.903001,4.458642,Rotterdam,Home / Work / Other:Corporate / Office
7658349,mark-van-der-poel,toilet-rotterdam,2010-10-20 08:00:00,51.902388,4.458901,Rotterdam,Home / Work / Other:Event Space
7658350,mark-van-der-poel,albert-heijn-schiecentrale-rotterdam,2010-10-20 16:00:00,51.904089,4.458733,Rotterdam,Food:Other - Food
7658351,mark-van-der-poel,tram-8,2010-10-20 16:00:00,51.911514,4.478187,NaN,Travel:Light Rail
7658352,mark-van-der-poel,parksluizen-rotterdam,2010-10-20 16:00:00,51.907478,4.463668,Rotterdam,Parks & Outdoors:Bridge
7658353,mark-van-der-poel,metrostation-leuvehaven-rotterdam,2010-10-20 16:00:00,51.913673,4.481993,Rotterdam,Travel:Subway
7658354,mark-van-der-poel,muziekplein,2010-10-20 17:00:00,51.854375,4.522852,NaN,Parks & Outdoors:Plaza / Square
7658355,mark-van-der-poel,beukelsplein-rotterdam,2010-10-20 20:00:00,51.921256,4.455721,Rotterdam,Parks & Outdoors:Playground
7658356,mark-van-der-poel,beukelsdijk-rotterdam,2010-10-20 20:00:00,51.921256,4.455721,Rotterdam,Home / Work / Other:Home
7658357,mark-van-der-poel,heemraadssingel,2010-10-21 07:00:00,51.919123,4.455773,NaN,NaN
7658358,mark-van-der-poel,the-iron-motor,2010-10-21 07:00:00,51.912267,4.455570,NaN,Arts & Entertainment:Art Gallery
7658359,mark-van-der-poel,metrostation-coolhaven-rotterdam,2010-10-21 07:00:00,51.909305,4.458389,Rotterdam,Travel:Subway
7658360,mark-van-der-poel,pieter-de-hoochbrug-rotterdam,2010-10-21 07:00:00,51.908485,4.458303,Rotterdam,Parks & Outdoors:Bridge
7658361,mark-van-der-poel,metrostation-coolhaven-rotterdam,2010-10-22 07:00:00,51.909305,4.458389,Rotterdam,Travel:Subway
7658362,mark-van-der-poel,pieter-de-hoochweg-rotterdam,2010-10-22 07:00:00,51.907119,4.459362,Rotterdam,NaN
7658363,mark-van-der-poel,schiecentrale-rotterdam-rotterdam,2010-10-22 07:00:00,51.904231,4.459789,Rotterdam,Home / Work / Other:Corporate / Office
7658364,mark-van-der-poel,beukelsplein-rotterdam,2010-10-22 12:00:00,51.921256,4.455721,Rotterdam,Parks & Outdoors:Playground
7658365,mark-van-der-poel,supersteil-rotterdam,2010-10-22 12:00:00,51.903001,4.458642,Rotterdam,Home / Work / Other:Corporate / Office
7658366,mark-van-der-poel,supersteil-rotterdam,2010-09-23 09:00:00,51.903001,4.458642,Rotterdam,Home / Work / Other:Corporate / Office
7658367,mark-van-der-poel,supersteil-rotterdam,2010-09-23 08:00:00,51.903001,4.458642,Rotterdam,Home / Work / Other:Corporate / Office

In [216]:
# for each userid, get the range of datetime
df_time_range = df_hour.groupby('userid').agg({'datetime': ['max', 'min']}).datetime
# create full hourly time (empty) slots in the range for each userid
df_full_time = df_time_range.apply(lambda x: pd.date_range(x['min'], x['max'], freq = '1H'), axis = 1)
df_full_time

userid
00-a                 DatetimeIndex(['2010-02-02 13:00:00', '2010-02...
0046aki              DatetimeIndex(['2010-04-29 06:00:00', '2010-04...
01                   DatetimeIndex(['2010-05-07 18:00:00', '2010-05...
0403                 DatetimeIndex(['2010-11-21 00:00:00', '2010-11...
062                  DatetimeIndex(['2011-04-03 14:00:00', '2011-04...
08                   DatetimeIndex(['2009-11-24 11:00:00', '2009-11...
1-2-punch            DatetimeIndex(['2010-04-18 23:00:00', '2010-04...
12                   DatetimeIndex(['2010-01-20 09:00:00', '2010-01...
13                   DatetimeIndex(['2011-02-15 12:00:00', '2011-02...
172                  DatetimeIndex(['2011-01-24 13:00:00', '2011-01...
1od                  DatetimeIndex(['2009-10-19 15:00:00', '2009-10...
26                   DatetimeIndex(['2010-01-22 06:00:00', '2010-01...
29                   DatetimeIndex(['2010-05-12 08:00:00', '2010-05...
3                    DatetimeIndex(['2010-05-31 11:00:00', '2010-05...
30                   DatetimeIndex(['2010-09-17 06:00:00', '2010-09...
31                   DatetimeIndex(['2011-06-10 03:00:00', '2011-06...
337                  DatetimeIndex(['2010-05-12 08:00:00', '2010-05...
3373                 DatetimeIndex(['2011-04-12 00:00:00', '2011-04...
344                  DatetimeIndex(['2010-06-27 07:00:00', '2010-06...
357                  DatetimeIndex(['2010-06-13 11:00:00', '2010-06...
36_104k2             DatetimeIndex(['2010-01-21 23:00:00', '2010-01...
38                   DatetimeIndex(['2010-04-26 14:00:00', '2010-04...
4                    DatetimeIndex(['2010-03-11 07:00:00', '2010-03...
4280                 DatetimeIndex(['2010-03-26 02:00:00', '2010-03...
456                  DatetimeIndex(['2010-03-30 04:00:00', '2010-03...
46                   DatetimeIndex(['2010-04-07 05:00:00', '2010-04...
4sq-seoul            DatetimeIndex(['2010-09-11 02:00:00', '2010-09...
4sq_test             DatetimeIndex(['2010-10-09 02:00:00', '2010-10...
4sqchicago           DatetimeIndex(['2010-08-11 23:00:00', '2010-08...
51                   DatetimeIndex(['2010-12-21 04:00:00', '2010-12...
                                           ...
zinbythesea          DatetimeIndex(['2010-02-22 16:00:00', '2010-02...
zirpoli-tiago        DatetimeIndex(['2010-01-19 14:00:00', '2010-01...
ziv-meltzer          DatetimeIndex(['2009-08-21 12:00:00', '2009-08...
zoe-basri            DatetimeIndex(['2010-02-08 08:00:00', '2010-02...
zoe-m                DatetimeIndex(['2010-07-26 16:00:00', '2010-07...
zoe-nagara           DatetimeIndex(['2009-11-23 00:00:00', '2009-11...
zoheb-ahmad          DatetimeIndex(['2010-01-18 15:00:00', '2010-01...
zoheir               DatetimeIndex(['2010-05-26 18:00:00', '2010-05...
zoli-radnai          DatetimeIndex(['2010-02-22 18:00:00', '2010-02...
zoltan-barnoth       DatetimeIndex(['2010-05-24 09:00:00', '2010-05...
zoltan-garami        DatetimeIndex(['2010-03-30 16:00:00', '2010-03...
zoltan-kollin        DatetimeIndex(['2010-04-07 17:00:00', '2010-04...
zoltan-peresztegi    DatetimeIndex(['2010-06-09 20:00:00', '2010-06...
zomng-comunicacao    DatetimeIndex(['2010-06-16 00:00:00', '2010-06...
zoomy                DatetimeIndex(['2010-09-01 03:00:00', '2010-09...
zooso-mr             DatetimeIndex(['2010-01-21 02:00:00', '2010-01...
zoreslav-khimich     DatetimeIndex(['2010-07-20 14:00:00', '2010-07...
zorrobiwan           DatetimeIndex(['2009-12-16 07:00:00', '2009-12...
zsofia-cser          DatetimeIndex(['2010-06-16 18:00:00', '2010-06...
zsolt-rapali         DatetimeIndex(['2010-01-23 08:00:00', '2010-01...
zsolt-slezak         DatetimeIndex(['2010-04-01 08:00:00', '2010-04...
zsolt-takacs         DatetimeIndex(['2010-07-04 01:00:00', '2010-07...
zsolt-winkler        DatetimeIndex(['2010-05-14 18:00:00', '2010-05...
zsuzsi-hering        DatetimeIndex(['2011-03-04 10:00:00', '2011-03...
zubin-irani          DatetimeIndex(['2010-05-25 00:00:00', '2010-05...
zulfan-tm            DatetimeIndex(['2010-07-12 01:00:00', '2010-07...
zuntsuku             DatetimeIndex(['2010-01-22 15:00:00', '2010-01...
zvi-band             DatetimeIndex(['2009-11-20 19:00:00', '2009-11...
zviki-cohen          DatetimeIndex(['2010-02-19 14:00:00', '2010-02...
zwilling             DatetimeIndex(['2010-04-12 03:00:00', '2010-04...
Length: 15799, dtype: object

In [222]:
# create new dataframe with userid and full datatime-hourly
# l1 = []
# l2 = []
# for idx in df_full_time .index:
#     for itm in df_full_time [idx]:
#         l1.append(idx)
#         l2.append(itm)

# df_temp = pd.DataFrame()
# df_temp['userid'] = l1
# df_temp['datetime'] = l2

df_temp = ft.read_dataframe('data/weeplace_checkins_hourly_full_time.feather')

In [224]:
# ft.write_dataframe(df_temp, 'data/weeplace_checkins_hourly_full_time.feather')

In [225]:
# df_hourly_datetime = df_temp.append(df_hour, ignore_index=True, sort=False).drop_duplicates(['userid','datetime'], keep='last')
df_hourly_datetime = ft.read_dataframe('data/weeplace_checkins_hourly_datetime.feather')

In [227]:
# ft.write_dataframe(df_hourly_datetime, 'data/weeplace_checkins_hourly_datetime.feather')

Index(['00-a', '0046aki', '01'], dtype='object', name='userid')

DatetimeIndex(['2010-02-02 13:00:00', '2010-02-02 14:00:00',
               '2010-02-02 15:00:00', '2010-02-02 16:00:00',
               '2010-02-02 17:00:00', '2010-02-02 18:00:00',
               '2010-02-02 19:00:00', '2010-02-02 20:00:00',
               '2010-02-02 21:00:00', '2010-02-02 22:00:00',
               ...
               '2010-10-21 03:00:00', '2010-10-21 04:00:00',
               '2010-10-21 05:00:00', '2010-10-21 06:00:00',
               '2010-10-21 07:00:00', '2010-10-21 08:00:00',
               '2010-10-21 09:00:00', '2010-10-21 10:00:00',
               '2010-10-21 11:00:00', '2010-10-21 12:00:00'],
              dtype='datetime64[ns]', length=6264, freq='H')

In [212]:
k.sort_values(by='datetime').head(5)

,userid,datetime,placeid,lat,lon,city,category
20591,00-a,2010-02-02 13:00:00,shibuya-station,35.658656,139.701161,渋谷区,Travel:Train Station:Train
1,00-a,2010-02-02 14:00:00,NaN,NaN,NaN,NaN,NaN
2,00-a,2010-02-02 15:00:00,NaN,NaN,NaN,NaN,NaN
3,00-a,2010-02-02 16:00:00,NaN,NaN,NaN,NaN,NaN
4,00-a,2010-02-02 17:00:00,NaN,NaN,NaN,NaN,NaN

In [213]:
k.sort_values(by='datetime').tail(5)

      userid            datetime placeid  lat  lon city category
19816     01 2011-04-22 09:00:00     NaN  NaN  NaN  NaN      NaN
19817     01 2011-04-22 10:00:00     NaN  NaN  NaN  NaN      NaN
19818     01 2011-04-22 11:00:00     NaN  NaN  NaN  NaN      NaN
19819     01 2011-04-22 12:00:00     NaN  NaN  NaN  NaN      NaN
19820     01 2011-04-22 13:00:00     NaN  NaN  NaN  NaN      NaN

In [214]:
m = k.loc[k['userid'] == '00-a']
m.sort_values(by='datetime').tail(5)

,userid,datetime,placeid,lat,lon,city,category
20091,00-a,2010-10-21 08:00:00,NaN,35.650117,139.720583,渋谷区,Food:Sandwiches
6260,00-a,2010-10-21 09:00:00,NaN,NaN,NaN,NaN,NaN
6261,00-a,2010-10-21 10:00:00,NaN,NaN,NaN,NaN,NaN
20092,00-a,2010-10-21 11:00:00,NaN,35.648710,139.715858,渋谷区,Shops:Other - Shopping
20093,00-a,2010-10-21 12:00:00,806540058,35.650241,139.718498,NaN,NaN