In [1]:
import pandas as pd
import colocationship as cl
import copy 

%load_ext autoreload
%autoreload 2

In [2]:
df_network = pd.read_hdf('/scratch/share/datasets/a21/a21_checkins_with_network.h5', key='table')

In [3]:
df_network

,user_id,tgt,duration,date,time,lat,lon,location_id,created_at,weekday,hour
0,0002D18309AF4230C09139D2FBB59E72,71C0D54022191001A1AF8E0D90CBED0C,0.35,2014-01-09,07:47:56,-22.72407,-43.31827,1169,2014-01-09 07:47:56,3,7
1,0002D18309AF4230C09139D2FBB59E72,657E2262B5B3B2BE18DFFF02481B705F,3.70,2014-01-09,11:23:54,-22.70589,-43.29072,322,2014-01-09 11:23:54,3,11
2,0002D18309AF4230C09139D2FBB59E72,5672F56621984155A125C65413703167,0.22,2014-01-09,12:03:14,-22.70589,-43.29072,322,2014-01-09 12:03:14,3,12
3,0002D18309AF4230C09139D2FBB59E72,EDBA2EEBAD0BD771EE6AF192584996D1,0.78,2014-01-09,12:21:56,-22.70589,-43.29072,322,2014-01-09 12:21:56,3,12
4,0002D18309AF4230C09139D2FBB59E72,41CA9E4F8B3B0B4513045D3DC7A5B5C6,0.72,2014-01-09,15:12:49,-22.70589,-43.29072,322,2014-01-09 15:12:49,3,15
...,...,...,...,...,...,...,...,...,...,...,...
22116247,FFFE9D2D90DC0169BDD243FA2276D569,C695140B04E4951C2A2CD82576886EB2,0.17,2014-06-26,23:34:00,-22.92885,-43.65370,198,2014-06-26 23:34:00,3,23
22116248,FFFE9D2D90DC0169BDD243FA2276D569,AB645D6DA5D6261353223CDC06A1A863,0.75,2014-06-27,09:03:35,-22.91568,-43.63471,209,2014-06-27 09:03:35,4,9
22116249,FFFE9D2D90DC0169BDD243FA2276D569,AB645D6DA5D6261353223CDC06A1A863,1.65,2014-06-27,12:45:34,-22.90412,-43.57667,185,2014-06-27 12:45:34,4,12
22116250,FFFE9D2D90DC0169BDD243FA2276D569,AB645D6DA5D6261353223CDC06A1A863,1.88,2014-06-27,16:00:14,-22.90412,-43.57667,185,2014-06-27 16:00:14,4,16
22116251,FFFE9D2D90DC0169BDD243FA2276D569,2A1726DFBF34F02A7A4E40BF766BAEBF,0.17,2014-06-27,19:04:09,-22.91568,-43.63471,209,2014-06-27 19:04:09,4,19

In [ ]:
df_checkin = df_part[['user_id', 'lat', 'lon', 'location_id', 'created_at']].copy()
df_checkin.columns = ['userid', 'lat', 'lon', 'placeid', 'datetime']